<!DOCTYPE html>
<html>
  <head>
    <title>Заголовок документу</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div>
      <div>{{name}} {{surname}}</div>
      <div>{{random}}</div>
      <div>{{user.login}}</div>
      {{#with user}}
      <div>With user: {{login}} password: {{password}}</div>
      {{/with}}
      <div>
        
      </div>
    </div>
  </body>
</html>